.header-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--background);
}

.left-half {
    padding-right: 2vw;
    width: 46.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.right-half {
    display: flex;
    align-items: center;
    width: 53.5vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glowin {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.portrait-glow {
    position: absolute;
    background: linear-gradient(90deg, var(--s1), var(--s2), var(--s3), var(--s4), var(--s5));
    animation: gradient 5s ease infinite;
    animation-delay: 3s;
    background-size: 400% 400%;
    right: 9vw;
    height: 27vw;
    width: 27vw;

    animation: 1s ease-in-out 0s glowin;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.big-portrait {
    position: absolute;
    right: 10vw;
    width: 25vw;

    animation: 1s ease-in-out 0s fadein;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.text-container {
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* text-shadow: var(--background) 0px 0px 10px; */
}

.big-name {
    text-align: right;
    font-size: 15vmin;
    color: var(--primary);
}

.small-name {
    background: linear-gradient(90deg, var(--s1), var(--s2), var(--s3), var(--s4), var(--s5));
    width: fit-content;
    padding: 0 0.2em;
    margin-left: 1vw;
    text-align: left;
    margin-bottom: -2vh;
    font-size: 5vmin;
    color: var(--background);

    animation: 1s ease-in-out 0s fadein;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.tagline {
    margin-top: -2vh;
    text-align: right;
    font-size: 3vmin;
    color: var(--secondary);

    animation: 1s ease-in-out 0s fadein;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@media screen and (max-width: 500px) {
    .small-name {
        margin-bottom: 0vh;
    }

    .tagline {
        margin-top: 0vh;
    }

    .left-half {
        margin-left: 1vh;
    }
}

@keyframes stripe-slide {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon-container {
    display: flex;
}

.icon-container div {
    animation: 1s ease-in-out 0s fadein;
    opacity: 0;
    animation-fill-mode: forwards;
}

.icon-container div:nth-child(1) {
    animation-delay: 1000ms;
}

.icon-container div:nth-child(2) {
    animation-delay: 1200ms;
}

.icon-container div:nth-child(3) {
    animation-delay: 1400ms;
}

.icon-container div:nth-child(4) {
    animation-delay: 1600ms;
}

.animated-banner {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 500vh;
}

.stripe-1 {
    animation: var(--anitime) ease-in-out 0s stripe-slide;
    animation-fill-mode: forwards;
    opacity: 0;
    background-color: var(--s1);
    width: 1vw;
    height: 100%;
}

.stripe-2 {
    animation: var(--anitime) ease-in-out 0s stripe-slide;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: var(--s2);
    width: 1vw;
    height: 100%;
    animation-delay: 100ms;
}

.stripe-3 {
    animation: var(--anitime) ease-in-out 0s stripe-slide;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: var(--s3);
    ;
    width: 1vw;
    height: 100%;
    animation-delay: 200ms;
}

.stripe-4 {
    animation: var(--anitime) ease-in-out 0s stripe-slide;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: var(--s4);
    width: 1vw;
    height: 100%;
    animation-delay: 300ms;
}

.stripe-5 {
    animation: var(--anitime) ease-in-out 0s stripe-slide;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: var(--s5);
    width: 1vw;
    height: 100%;
    animation-delay: 400ms;
}