.Icon-Container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    cursor: pointer;
    border-radius: 10px;
    width: 1.5em;
    height: 1.5em;
    font-size: 5vmin;
    margin: 1vmin;
}

.Icon-Background {
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    background: linear-gradient(90deg, var(--s1), var(--s2), var(--s3), var(--s4), var(--s5));
    transition-duration: 200ms;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.Icon-Background:hover {
    opacity: 1;
}

.Icon {
    pointer-events: none;
    position: relative;
    z-index: 2;
}

.Icon-Container:hover {
    color: white;
}